<div ng-show="errCode" data-alert class="alert-box info">
  <!-- Your content goes here -->
  {{errMessage}}
</div>

<div class="row">
  <div class="small-12 columns">
    <p>Einfach die ID eingeben um den Standort zu sehen:
  </div>
</div>

<div class="row">
  <div class="small-3 columns">
    <label>Input Label
       <input type="text" ng-model="userId" placeholder="UserId" />
    </label>
  </div>
  <div class="small-3 columns end">
    <a ng-href="#/user/{{userId}}" class="button large">Los!</a>
  </div>
</div>
