<div class="row">
  <div class="small-3 columns">
    <h4>User:</h4>
  </div>
  <div class="small-9 columns end">
    {{user.shortid}}
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <h4>Gestartet:</h3>
  </div>
  <div class="small-9 columns end">
    {{locations[0].createdAt}}
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <h4>Letzter Eintrag:</h4>
  </div>
  <div class="small-9 columns end">
    {{locations[locations.length-1].createdAt}}
  </div>
</div>

<div>
     <h2>My Map</h2>
      <div id="map" class="map"></div>
</div>
