<!DOCTYPE html>
<html ng-app="testApp">
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/foundation.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <!--STYLES END-->

    <link rel="stylesheet" href="http://openlayers.org/en/v3.14.2/css/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>

  </head>

  <body>
    <header>
    <!--<h1 id="main-title" class="container">Wo?</h1>
    <h3 class="container">Verfolge Freunde und Familie beim Sportln.</h3>-->
    </header>

    <div ng-view></div>
    <!--- <%- body %> --->

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/vendor/jquery.js"></script>
    <script src="/js/dependencies/foundation.min.js"></script>
    <script src="/js/dependencies/foundation/foundation.abide.js"></script>
    <script src="/js/dependencies/foundation/foundation.accordion.js"></script>
    <script src="/js/dependencies/foundation/foundation.alert.js"></script>
    <script src="/js/dependencies/foundation/foundation.clearing.js"></script>
    <script src="/js/dependencies/foundation/foundation.dropdown.js"></script>
    <script src="/js/dependencies/foundation/foundation.equalizer.js"></script>
    <script src="/js/dependencies/foundation/foundation.interchange.js"></script>
    <script src="/js/dependencies/foundation/foundation.joyride.js"></script>
    <script src="/js/dependencies/foundation/foundation.js"></script>
    <script src="/js/dependencies/foundation/foundation.magellan.js"></script>
    <script src="/js/dependencies/foundation/foundation.offcanvas.js"></script>
    <script src="/js/dependencies/foundation/foundation.orbit.js"></script>
    <script src="/js/dependencies/foundation/foundation.reveal.js"></script>
    <script src="/js/dependencies/foundation/foundation.slider.js"></script>
    <script src="/js/dependencies/foundation/foundation.tab.js"></script>
    <script src="/js/dependencies/foundation/foundation.tooltip.js"></script>
    <script src="/js/dependencies/foundation/foundation.topbar.js"></script>
    <script src="/js/dependencies/vendor/fastclick.js"></script>
    <script src="/js/dependencies/vendor/jquery.cookie.js"></script>
    <script src="/js/dependencies/vendor/modernizr.js"></script>
    <script src="/js/dependencies/vendor/placeholder.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/MainController.js"></script>
    <script src="/js/controllers/UserController.js"></script>
    <script src="/js/services/LocationService.js"></script>
    <script src="/js/services/UserService.js"></script>
    <!--SCRIPTS END-->
    <script src="http://openlayers.org/en/v3.14.2/build/ol.js" type="text/javascript"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
