
<link rel="stylesheet" href="http://openlayers.org/en/v3.14.2/css/ol.css" type="text/css">
<style>
    .map {
        height: 400px;
        width: 100%;
    }
</style>
<script src="http://openlayers.org/en/v3.14.2/build/ol.js" type="text/javascript"></script>

<div ng-controller="TodoCtrl" class="default-page">
  <div class="main container clearfix">
      <div id="info">
          <span><h4>Id: </h4><%= TROLOLO.shortid %></span>
          <span><h4>Letzter Eintrag: </h4><%= TROLOLO.locations[TROLOLO.locations.length-1].createdAt %></span>
      </div>
      <div>
           <h2>My Map</h2>
            <div id="map" class="map"></div>
            <script type="text/javascript">
               <%= console.dir(TROLOLO) %>
              var map = new ol.Map({
                target: 'map',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.MapQuest({layer: 'osm'})
                  })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([14.18, 48.18]),
                    resolution: 10
                })
              });
            </script>
      </div>
  </div>
</div>
