<ion-view view-title="Start">
  <ion-content>
    <h1>Starte einen Lauf</h1>

    <div class="list list-inset">
      <div class="item item-input-inset" >
        <div class="col col-20">
          Name:&nbsp;&nbsp;
        </div>
        <div class="col">
          <label class="item-input-wrapper">
            <input type="text" placeholder="(optional)" ng-disabled="watch" ng-model="user.name" ng-blur="changeName(user.name)">
          </label>
        </div>
      </div>

      <div class="item item-input-inset">
        <div class="col col-20">
          ID:
        </div>
        <div class="col">
          {{user.shortid}}
        </div>
      </div>

      <div class="item item-input-inset">
          <div class="col col-20">
            Link:
          </div>
          <div class="col">
            <a ng-show="user.shortid" ng-href="http://wo.eckelt.me/user/{{user.shortid}}">http://wo.eckelt.me/user/{{user.shortid}}</a>
          </div>
          <div class="col col-20">
            <button class="button button-small button-positive right">
              <i class="ion-android-share-alt"></i> Share</button></a>
            </button>
          </div>
      </div>
    </div>


    <ul>
        <li ng-repeat="x in print track by $index">{{x}}</li>
    </ul>


  </ion-content>
  <div class="bar bar-footer">
    <button ng-click="toggleTracking()" class=" button button-block" ng-class="!watch ? 'button-positive' : 'button-calm'">
      {{ !watch ? 'Start' : 'Stop'}}
    </button>
  </div>
</ion-view>
